---
const { currentPath = "" } = Astro.props;
const isHome = currentPath === "/" || currentPath === "";
const isBlog = currentPath === "/blog" || currentPath === "/blog/" || currentPath.startsWith("/blog/");
const isAbout = currentPath === "/about" || currentPath === "/about/";
---

{!isHome && (
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand" title="Home">
        <svg width="20" height="20" style="color: var(--text);">
          <use href="#icon-home" />
        </svg>
      </a>
      {!isBlog && (
        <a href="/blog" class="navbar-link">Blogs</a>
      )}
      {!isAbout && (
        <a href="/about" class="navbar-link">About</a>
      )}
    </div>
  </nav>
)}

