---
const { currentPath = "" } = Astro.props;
const isHome = currentPath === "/" || currentPath === "";
---

{!isHome && (
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand" title="Home">
        <svg width="20" height="20" style="color: var(--text);">
          <use href="#icon-home" />
        </svg>
      </a>
    </div>
  </nav>
)}

